@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffe4c4;
  color: #111;
  font-weight: 300;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
a {
  font-weight: 700;
  text-decoration: underline;
  transition: 0.15s ease-in-out;
}
a:hover {
  transform: translateY(-2px);
}
.hello {
  height: 73vh;
}
p {
  color: #222;
  line-height: 1.65rem;
}
.about p {
  margin-bottom: 2rem;
  line-height: 1.85rem;
}
.focus {
  color: #000;
  font-weight: 500;
}
.image-container {
  cursor: pointer;
  transition: transform 0.15s;
  width: 45%;
  margin-bottom: 20px;
}

.grayscale {
  filter: grayscale(100%);
}

.image-container:hover .grayscale {
  filter: grayscale(0%);
}
.projects_text {
  border: 1px solid #000;
  transform: translateY(-12px);
  padding: 2.4rem 1rem 2rem 1rem;
  border-radius: 0 0 0.75rem 0.75rem;
  justify-content: space-between;
}
.badge {
  margin-right: 4px;
  margin-bottom: 6px;
  transition: 0.3s ease;
}
.badge:hover {
  background-color: rgba(255, 187, 0, 0.2);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.methods a {
  margin-bottom: 8px;
}

.scrolling-text {
  display: flex;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
}

.scrolling-content {
  display: flex;
  white-space: nowrap;
  animation: scroll var(--animation-duration, 20s) linear infinite;
}

.scrolling-content p {
  margin-right: 1rem;
}
.links {
  background-color: #ffe4c4;
}
.links img {
  border-radius: 10px;
}
.observe {
  opacity: 0;
  transition: all 1.25s;
}

.observe.visible {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-43% + var(--content-width)));
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 756px) {
  .image-container.mr-6 {
    margin-right: 6px;
  }
}
@media (max-width: 660px) {
  :root {
    font-size: 14px;
  }
  .image-container {
    width: 100%;
    margin-right: 0;
  }
}
