@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffe4c4;
  color: #111;
  font-weight: 700;
}
h1 {
  font-size: 2rem;
}
a {
  color: #4B0082;
  text-decoration: underline;
  transition: .07s ease;
}
a:hover {
  transform: translateY(-2px);
}
.hello {
  height: 73vh;
}
p {
  color: #222;
  margin-bottom: 1.5rem;
  line-height: 1.7rem;
}
.focus {
  color: #000;
  font-weight: 900;
}